.container {
    width:800px; margin:10px auto;
    @media screen and(max-width: 600px) {
        width:auto; 
    }
}

.container.color {
    background-color:#2f3d86; 
}

.hover:hover {
    background-color: #2d3b8c;
    
}